<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Talent Retention Predictor App</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: FlexStart - v1.4.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="../static/img/logo.png" alt="">
        <span>The Talent Retention Predicter App™</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="getstarted" href="/demo">Try the Demo</a></li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/visualization">Data Deep Dive Visualizations</a></li>
              <li><a href="/model">The Machine Learning Modelling</a></li>

            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/#team">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- BEGIN MAIN -->
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Demo</li>
        </ol>
        <h2>Demo</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <div class="container mt-2">
      <header class="section-header">

        <p>Case Study: IBM
        </p>
      </header>

      <div class="row text-center">
        <h3>Instructions</h3>
        <p>Enter information for a hypothetical IBM employee and the model will produce a report with the retention
          prediction.
        </p>
        <hr>
      </div>


      <div class="row">

        <!-- BEGIN Left-Hand Criteria Options -->
        <div class="col-md-3">

          <label id="input1" for="demoInput1" class="form-label">1. Number of Companies Worked For</label>
          <input type="range" value="2" class="form-range" min="0" max="10" step="1" id="demoInput1"
            oninput="this.nextElementSibling.value = this.value">
          Current Selection: <output>2</output>
          
          <hr>
          <label id="input2" for="demoInput2" class="form-label">2. Total Years Working</label>
          <input type="range" value="10" class="form-range" min="0" max="40" step="1" id="demoInput2"
            oninput="this.nextElementSibling.value = this.value">
          Current Selection: <output>10</output>


          <hr>
          <label id="input3" for="demoInput3" class="form-label mt-3">2. Receives Overtime</label>
          <select class="form-select" aria-label="Default select example" id="demoInput3">
            <option selected="selected" value="Yes">Yes</option>
            <option value="No">No</option>
          </select>

          <hr>
          <label id="input4" for="demoInput4" class="form-label mt-3">3. Marital Status</label>
          <select class="form-select" aria-label="Default select example" id="demoInput4">
            <option selected="selected" value="Single">Single</option>
            <option value="Married">Married</option>
            <option value="Divorced">Divorced</option>
          </select>

          <hr>
          <label id="input5" for="demoInput5" class="form-label mt-3">4. Gender</label>
          <select class="form-select" aria-label="Default select example" id="demoInput5">
            <option selected="selected" value="Male">Male</option>
            <option value="Female">Female</option>
          </select>

          <hr>
          <label id="input6" for="demoInput6" class="form-label mt-3">5. Sales Department</label>
          <select class="form-select" aria-label="Default select example" id="demoInput6">
            <option selected="selected" value="0">Yes</option>
            <option value="1">No</option>
          </select>


        </div>
        <!-- END Left-Hand Criteria Options -->

        <!-- BEGIN Right-Hand report -->
        <div class="col-md-9">
          
          <div class="row">
            <div class="col-md-12">
              <div class="card bg-light">
                <div class="card-body text-center">
                  TALENT RETAINED:
                  <div class="modelResult">
                    <div class="card text-center">
                      <div class="card-body" id="redResult">
                        <h5 class="card-title">[RESULT TEXT GETS INSERTED HERE]</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-md-12">     
              <h3>Report:</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-6 col-lg-12 mt-2" id="demoChart1">
            </div>
            <div class="col-xl-6 col-lg-12 mt-2" id="demoChart2">
            </div>
          </div>
          
          <div class="row">
            <div class="col-xl-6 col-lg-12 mt-2" id="demoChart3">
            </div>
            <div class="col-xl-6 col-lg-12 mt-2" id="demoChart4">
            </div>
          </div>
          
          <div class="row">
            <div class="col-xl-6 col-lg-12 mt-2" id="demoChart5">
            </div>
            <div class="col-xl-6 col-lg-12 mt-2" id="demoChart6">
            </div>
          </div>



          </div> <!-- END ROW -->
        </div>
        
        <div class="row mt-5">
        </div>
          <!-- END V2 DEMO -->

  </div> <!-- END Container-->
  </main>

  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

  <!-- Demo Dashboard JS Files -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- test data -->
  <!-- <script src="../static/js/data.js"></script> -->

  <script src="../static/js/app.js"></script>


</body>

</html>