<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Talent Retention Predictor App</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.4.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="demo.html" class="logo d-flex align-items-center">
        <img src="../static/img/logo.png" alt="">
        <span>The Talent Retention Predicter App</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="getstarted" href="demo.html">Try the Demo</a></li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="model.html">Machine Learning Models</a></li>
              <li><a href="visualization.html">Data Deep Dive Visualizations</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#team">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">The Talent Retention Predicter App™  
            </h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Identify who is at risk BEFORE it’s too late</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="demo.html" class="btn-get-started d-inline-flex align-items-center justify-content-center align-self-center">
                <span>TRY THE DEMO</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="../static/img/values-2.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    
    <!-- ======= Benefits Section ======= -->
    <section id="benefits" class="benefits">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Benefits</h2>
          <p>Talent flight represents the one the largest HR costs. 
          </p>
          <br>
          <p>The TRP can reduce your loss:
          </p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="../static/img/values-1.png" class="img-fluid" alt="">
              <h3>Predicts with up to 90% accuracy 
              </h3>
              <p>It will identify which employees are at risk of leaving so that you can intervene first.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="../static/img/features-2.png" class="img-fluid" alt="">
              <h3>Adaptable to your organization</h3>
              <p>The App is customizable to your employee base and organizational goals. 
              </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="../static/img/features.png" class="img-fluid" alt="">
              <h3>Gets smarter over time </h3>
              <p>The machine learning algorithm improves with experience and additional data.
              </p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Testimonials</h2>
          <p>What they are saying about us</p>
        </header>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  It's nice! Right?!
                </p>
                <div class="profile mt-auto">
                  <img src="../static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Alex</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  It's focussed on answering business questions! The return on investment is crystal clear.
                </p>
                <div class="profile mt-auto">
                  <img src="../static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Jose</h3>
                  <h4>CFO</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Their analyses are dead on!
                </p>
                <div class="profile mt-auto">
                  <img src="../static/img/testimonials/testimonials-3.png" class="testimonial-img" alt="">
                  <h3>Hector</h3>
                  <h4>CTO</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  These guys know their stuff!
                </p>
                <div class="profile mt-auto">
                  <img src="../static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Jose Luis</h3>
                  <h4>Mad Data Scientist</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Team</h2> -->
          <p>Talk to us to see how the TRP App™<br>can help retain your best talent:
          </p>
        </header>

        <div class="row gy-4 justify-content-center">

          <div class="col-lg-2 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="../static/img/team/kenneth-c-andersen-profile-photo.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/kennethcandersen"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/kennethcandersen"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Kenneth Andersen</h4>
                <span>Client Experience & Application</span>
                <p>Strategic business leader behind rapid ROI-generating advances in organizational analytics, capability & performance. </p>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="../static/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/juancarloscortezperez/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Juan Carlos Cortez</h4>
                <span>Data Analytics & Visualization</span>
                <p>Financial planning, strategy & analyses to propel successful; business models.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="../static/img/team/salvador-profile-photo.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/Fispit"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/salvador-del-cos-92ab6a68/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Salvador del Cos</h4>
                <span>Data Analytics & Machine Learning Modelling</span>
                <p>Engineer and Data Analyst that enjoys figuring out to clean and process new datasets.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="../static/img/team/marcelo-flores.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-github"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Marcelo Flores</h4>
                <span>Data Analyitics & Visualization</span>
                <p>Business process and supply chain expert</p>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="../static/img/team/yazmin-rodriguez.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/Yazz-01"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/yazmin01rodriguez/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Yazmin Rodriguez</h4>
                <span>Data Analytics & Machine Learning Modelling</span>
                <p>Experienced Analytics Specialist with a demonstrated history of working in the Chemical and Energy industry.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>